/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url(https://fonts.googleapis.com/css?family=Gotham);

body {
  margin: 0;
  font-family: 'Gotham',sans-serif;
  line-height: 1.6em;
  color: #002e48;
}

:root{
 --blue: #122c4b;
 --lightgreen:#a5e9e0;
 --orange: #F77F1D;
}
a{
text-decoration: none;
}
p{
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
}
